body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffa500;
}

.section {
    padding: 60px 20px;
    margin: 20px 0;
    min-height: 100vh;
}

#intro {
    background-color: #f4f4f4;
    text-align: center;
}

#about, #portfolio, #contact {
    background-color: #e2e2e2;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.portfolio-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.identado {
    text-align:justify
}