/* Estilo do menu de navegação */
nav {
    background-color: #d1e9ff; /* Fundo azul claro */
    color: #013840; /* Cor do título */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve para destaque */
    margin-bottom: 20px; /* Espaço abaixo do menu */
    text-align: center;
}

nav h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #01579b; /* Título em azul mais forte */
    margin-bottom: 15px;
}

nav a {
    color: #013840; /* Links em azul petróleo */
    display: relative;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 8px;
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição suave */
}

nav a:hover {
    background-color: #0288d1; /* Fundo azul mais escuro ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}
